In [6]:
import pandas as pd
import matplotlib

mall_data = pd.read_json('D:\PycharmProjects\DescriptiveStatistics\datasets\Mall_Customers.json')
mall_data

     customer_id  gender  age  annual_income  spending_score
0              1    Male   19          15000              39
1              2    Male   21          15000              81
2              3  Female   20          16000               6
3              4  Female   23          16000              77
4              5  Female   31          17000              40
..           ...     ...  ...            ...             ...
195          196  Female   35         120000              79
196          197  Female   45         126000              28
197          198    Male   32         126000              74
198          199    Male   32         137000              18
199          200    Male   30         137000              83

[200 rows x 5 columns]